@import "tailwindcss";

.btn {
  color: aqua;
  background-color: #8e7196;
  @apply bg-[#2e1515] font-bold py-2 px-4 rounded-lg cursor-pointer transition
    border-3 border-transparent hover:border-[#0a77f4] hover:bg-[#ffe9e9] hover:text-black
    active:bg-[#2e1515] focus:ring-2 focus:ring-violet-500
    disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:border-transparent
    disabled:active:bg-[#2e1515];
}
select {
  @apply rounded-md bg-[#ffe9e9] disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:border-transparent;
}
.selector-container {
  @apply flex items-center justify-between md:justify-start;
}
.container {
  @apply my-2 py-2 px-8 border border-slate-500 rounded-lg;
}

.responsive-container {
  @apply mx-auto w-full max-w-full overflow-x-hidden;
}

.responsive-table {
  @apply w-full md:w-3/4 lg:w-1/2;
}

@media (max-width: 640px) {
  #setting-container {
    @apply flex-col items-start gap-4;
  }

  #setting-container > div {
    @apply w-full flex justify-between items-center;
  }
}

@theme {
  --animate-text-loading: textLoading 1.5s ease-in-out infinite;
  --animate-details-show: details-show 300ms ease-in-out;

  @keyframes textLoading {
    0%,
    100% {
      transform: scale(1);
      opacity: 0.5;
    }
    50% {
      transform: scale(1.1);
      opacity: 1;
    }
  }
  @keyframes details-show {
    from {
      opacity: 0;
      transform: translateY(-8px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
.animate-text-loading {
  animation: var(--animate-text-loading);
  display: inline-block;
}

.animate-details-show {
  animation: var(--animate-details-show);
}
